.ascCol {
  position: relative;

  &::after {
    content: 'asc';
    position: absolute;
    bottom: 10px;
    width: 5px;
    height: 5px;
  }
}
.descCol {
  position: relative;

  &::after {
    content: 'desc';
    position: absolute;
    bottom: 10px;
    width: 5px;
    height: 5px;
  }
}

.thead {
  td {
    cursor: pointer;
  }
}
